<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add
			name="AWConnection"
			connectionString="Data Source=WINAPCNIHNTK0Z5;Initial Catalog=Library;Integrated Security=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IServiceLibrary" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:50030/ServiceLibrary.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLibrary"
                contract="SOAPLibrary.IServiceLibrary" name="BasicHttpBinding_IServiceLibrary" />
		</client>
	</system.serviceModel>
</configuration>